In [13]:
year_list = list(range(2018, 202))
year_list

[2018, 2019, 2020, 2021, 2022, 2023]

In [14]:
import pandas as pd
df_total_trade = pd.DataFrame()
for year in year_list:
    df = pd.read_csv(f'DATA/{year}_total_trade_DATA.csv')
    df_total_trade = pd.concat([df_total_trade,df])

In [15]:
df_total_trade = df_total_trade.reset_index().drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'index'])

In [16]:
df_total_trade

,coin,buy_date,buy,sell_date,sell,profit,profit_rate
0,BTC,2018-01-05,2.745772e+07,2018-01-11,1.937931e+07,-8078416.500,-0.294213
1,BTC,2018-04-20,9.556776e+06,2018-05-09,1.039980e+07,843021.500,0.088212
2,BTC,2018-07-17,8.084040e+06,2018-07-31,8.795600e+06,711560.000,0.088020
3,BTC,2018-08-27,7.691844e+06,2018-09-15,7.359318e+06,-332525.500,-0.043231
4,ETH,2018-01-03,1.296148e+06,2018-01-15,1.791604e+06,495456.000,0.382253
...,...,...,...,...,...,...,...
2291,SUI,2023-09-29,6.493245e+02,2023-10-04,5.987005e+02,-50.624,-0.077964
2292,SUI,2023-10-28,6.453225e+02,2023-11-19,7.506245e+02,105.302,0.163177
2293,SUI,2023-11-25,8.774385e+02,2023-12-13,9.005495e+02,23.111,0.026339
2294,GRT,2023-10-23,1.210605e+02,2023-11-15,1.789105e+02,57.850,0.477860
2295,GRT,2023-11-24,2.071035e+02,2023-12-16,2.228885e+02,15.785,0.076218

In [17]:
# 수익률 퍼센트
temp = df_total_trade.copy()
temp['profit_rate_plus'] = temp['profit_rate'] + 1
res = (temp.groupby('coin')['profit_rate_plus'].prod()-1)*100
res

coin
1INCH     -14.365319
AAVE      -56.572651
ADA      3500.826590
AERGO     -68.536819
AHT       163.215448
            ...
XLM         8.605942
XRP       841.802223
XTZ       -40.750591
ZIL      1381.396239
ZRX       121.354327
Name: profit_rate_plus, Length: 94, dtype: float64

In [18]:
# 각 투자결과에 대한 describe
(1 + 1*(res/100)).describe()

count    94.000000
mean      6.487649
std      10.895080
min       0.073771
25%       0.924328
50%       2.092418
75%       7.504208
max      71.771489
Name: profit_rate_plus, dtype: float64

In [21]:
(609-94)/94

5.4787234042553195

In [22]:
(1 + 1*(res/100)).sum()

609.8390445514307

In [9]:
# BTC만 투자했을 때 수익률 퍼센트
res['BTC']

335.3811782348709

In [10]:
res.sort_values(ascending=False)[:10]

coin
BORA     6623.203435
CHZ      3539.701204
ETC      3115.682807
TFUEL    2015.330455
ADA      1997.307567
BTT      1928.788511
MANA     1889.528671
POLYX    1718.209857
BTG      1559.537936
SAND     1283.003468
Name: profit_rate_plus, dtype: float64

In [11]:
res.sort_values(ascending=False)[-10:]

coin
SOL     -72.991618
STPT    -73.621306
STX     -74.593697
UPP     -76.739612
STEEM   -78.260327
SBD     -79.242067
AQT     -82.201949
MTL     -86.279451
STRAX   -86.683330
IQ      -93.689312
Name: profit_rate_plus, dtype: float64